<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Upgrade Coding Challenge</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

        <script type = "text/babel" language = "javascript">
            let reservedDates = $.ajax({
                url: '/reserved',
                type: 'GET',
                success: function(response) {
                    return response
                },
                async: false,
                error: function(error) {
                  console.log(error);
                }
            }).responseText

            function DisableSpecificDates(date) {
                let string = jQuery.datepicker.formatDate('mm/dd/y', date);
                return [ reservedDates.indexOf(string) == -1 ]
            };

            // $(function() {
            //     $( ".dtpick" ).datepicker({
            //         beforeShowDay: DisableSpecificDates,
            //         minDate: new Date()
            //     });
            // });

            function getDate( element ) {
                let date;
                try {
                    date = $.datepicker.parseDate( dateFormat, element.value );
                } catch( error ) {
                    date = null;
                }
                return date;
            }

            let dates = $("#arrival_date, #departure_date").datepicker({
                defaultDate: "+1d",
                changeMonth: true,
                beforeShowDay: DisableSpecificDates,
                minDate: '+1d',
                maxDate: '+1m',
                onSelect: function(selectedDate) {
                    let option = this.id == "arrival_date" ? "minDate" : "maxDate",
                        instance = $(this).data("datepicker"),
                        date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
                    dates.not(this).datepicker("option", option, date);
                }
            });
        </script>
    </head>

    <body>
        <h1> Volcano Campsite Registration </h1>
        <form method="POST" action="/">
            {{ form.csrf_token }}
            {{ form.name.label }} {{ form.name(size=20) }}
            {{ form.email.label }} {{ form.email(size=20) }}

            {{ form.hidden_tag() }}
            {{ "Arrival" }} {{ form.arrival_date(class="dtpick") }}
            {{ "Departure" }} {{ form.departure_date(class="dtpick") }}

            <!-- <label for="arrival_date">From</label> <input type="text" id="arrival_date" name="arrival_date"/> -->
            <!-- <label for="to">to</label> <input type="text" id="to" name="to"/> -->
            <button type="submit">Go</button>
        </form>
    </body>
</html>