<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Upgrade Coding Challenge</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

        <script type = "text/babel" language = "javascript">
            let reservedDates = $.ajax({
                url: '/reserved',
                type: 'GET',
                success: function(response) {
                    return response
                },
                async: false,
                error: function(error) {
                  console.log(error);
                }
            }).responseText

            function DisableSpecificDates(date) {
                let string = jQuery.datepicker.formatDate('mm/dd/y', date);
                return [ reservedDates.indexOf(string) == -1 ]
            };

            $(function() {
                $( ".dtpick" ).datepicker({
                    beforeShowDay: DisableSpecificDates,
                    minDate: new Date()
                });
            });
        </script>
    </head>

    <body>
        <h1> Volcano Campsite Registration </h1>
        <form method="POST" action="/">
            {{ form.csrf_token }}
            {{ form.name.label }} {{ form.name(size=20) }}
            {{ form.email.label }} {{ form.email(size=20) }}

            {{ form.hidden_tag() }}
            {{ "Arrival" }} {{ form.arrival_date(class="dtpick") }}
            {{ "Departure" }} {{ form.departure_date(class="dtpick") }}
            <button type="submit">Go</button>
        </form>
    </body>
</html>