<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Upgrade Coding Challenge</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

        <script type = "text/babel" language = "javascript">
            let reservedDates = $.ajax({
                url: '/reserved',
                type: 'GET',
                success: function(response) {
                    return response
                },
                async: false,
                error: function(error) {
                  console.log(error);
                }
            }).responseText

            function DisableSpecificDates(date) {
                let string = jQuery.datepicker.formatDate('mm/dd/y', date);
                return [ reservedDates.indexOf(string) == -1 ]
            };

            // $(function() {
            //     $( ".dtpick" ).datepicker({
            //         beforeShowDay: DisableSpecificDates,
            //         minDate: new Date()
            //     });
            // });

            function getDate( element ) {
                let date;
                try {
                    date = $.datepicker.parseDate( dateFormat, element.value );
                } catch( error ) {
                    date = null;
                }
                return date;
            }

            $("#arrival_date").datepicker({
                defaultDate: "+1d",
                changeMonth: true,
                beforeShowDay: DisableSpecificDates,
                minDate: '+1d',
                maxDate: '+1m',
                onSelect: function (date) {
                    let date2 = $('#arrival_date').datepicker('getDate');
                    date2.setDate(date2.getDate() + 1);
                    $('#departure_date').datepicker('setDate', date2);
                    $('#departure_date').datepicker('option', 'minDate', date2);

                    let date1 = $('#arrival_date').datepicker('getDate');
                    date2 = Date.parse($('#departure_date').datepicker('getDate'));
                    date1.setDate(date1.getDate() + 3)
                    if (date2 < date1) {
                        $('#departure_date').datepicker('option', 'maxDate', date1);
                    }
                }
            });

            $("#departure_date").datepicker({
                defaultDate: "+1d",
                changeMonth: true,
                beforeShowDay: DisableSpecificDates,
                minDate:  $('#arrival_date').datepicker('getDate'),
                maxDate: '+1m',
                onSelect: function (date) {
                    let date1 = $('#arrival_date').datepicker('getDate');
                    let date2 = Date.parse(date);

                    date1.setDate(date1.getDate() + 3)
                    if (date2 < date1) {
                        // let minDate = $('#departure_date').datepicker('option', 'maxDate');
                        $('#departure_date').datepicker('option', 'maxDate', date1);
                    }
                }
            });
        </script>
    </head>

    <body>
        <h1> Volcano Campsite Registration </h1>
        <form method="POST" action="/">
            {{ form.csrf_token }}
            {{ form.name.label }} {{ form.name(size=20) }}
            {{ form.email.label }} {{ form.email(size=20) }}

            {{ form.hidden_tag() }}
            {{ "Arrival" }} {{ form.arrival_date(class="dtpick") }}
            {{ "Departure" }} {{ form.departure_date(class="dtpick") }}
            <button type="submit">Go</button>
        </form>
    </body>
</html>